<div class="absolute inset-0">
    <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
        <div
            class="mt-12 sm:mt-24 text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center">
            Ooops... 500!</div>
        <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">Error de servidor
            500</div>
        <a class="mt-12 font-medium underline text-primary-500" routerLink="">
            Regresar al listado
        </a>
    </div>
</div>